.devrootfs/*
dist/*
build/*
**/*.orig
cache/*

etc/*
!etc/pre-network.d
!etc/unattended.sh
!etc/unattended.lib.sh
!etc/unattended.exec.d
!etc/unattended.conf.d
etc/unattended.conf.d/*
!etc/unattended.conf.d/README.md
!**/README.md

